main section div {
    float: left;
    width: 24%;
}

main section div img {
    width: 50%;
    height: 50%;
}

main section{
    width: 100%;
}

footer ul li {
    text-align: center;
    width: 30%;
    display: inline;
}

footer ul {
    margin: auto;
}

nav ul li {
    display: inline;
    text-align: left;
    font-size: 18px;
 }

div.cart {
    float: right;
}

img {
    width: 30px;
}

div:hover img {
    border: #ff5a25 double 1px;
}